.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button.secondary {
  background-color: transparent;
}
.button.primary {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
}
.button {
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.button.copied {
  border-radius: 4px;
  background-color: hsl(257, 27%, 26%);
}
.button.copy {
  border-radius: 4px;
}

.button:hover {
  opacity: 0.9;
  filter: brightness(170%);
}
